/* 둥근체 */
@font-face {
  font-family: 'Cafe24Surround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

/* 부드러운체 */
@font-face {
  font-family: 'OngleipParkDahyeon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

/* 우아한체 */
@font-face {
  font-family: 'JoseonGulim';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

/* 모던체 (SUIT 전체 계열) */
@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* 따뜻한체 */
@font-face {
  font-family: 'GowoonDodum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

/* === 전역 폰트 유틸 === */
.font-basic   { font-family: "Noto Sans KR", sans-serif; }
.font-rounded { font-family: "Cafe24Surround", sans-serif; }
.font-soft    { font-family: "OngleipParkDahyeon", cursive; }
.font-elegant { font-family: "JoseonGulim", serif; }
.font-modern  { font-family: "Suit", sans-serif; }
.font-warm    { font-family: "GowoonDodum", sans-serif; }
